@import "~ol/ol.css";

::ng-deep .ol-zoom {
    left: .5em;
}

::ng-deep .ol-attribution {
    left: .5em;
    right: unset;
}

.fullscreen-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}