<spab-sidebar>
    <div sidebar>
        <div class='p-2'>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Client</span>
                </div>

                <select #clientSelect class="custom-select" [(ngModel)]="clientSelectValue">
                    <option *ngFor="let client of clientSelectItems" [ngValue]="client.clientId" [attr.selected]="client.selected ? true : null">
                        {{client.text}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div content>
        <div #mainMap class="fullscreen-map"></div>
    </div>
</spab-sidebar>
