@import "~ol/ol.css";

::ng-deep .ol-control {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

::ng-deep .ol-control:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

::ng-deep .ol-zoom {
    left: .5em;
}

::ng-deep .ol-attribution {
    left: .5em;
    right: unset;
}

.fullscreen-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}