.sidebar-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.sidebar-layout .sidebar-btn {
    position: absolute;
    top: 8px;
    right: 268px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    z-index: 2;
    transition: 0.33s;
    opacity: 0.85;
}
.sidebar-layout .sidebar-btn > div {
    line-height: 36px;
    transform-origin: center;
    transform: scaleX(-1);
    transition: 0.33s;
}
.sidebar-layout.sidebar-close .sidebar-btn {
    right: 8px;
}
.sidebar-layout.sidebar-close .sidebar-btn > div {
    transform: scaleX(1);
}

.sidebar-layout .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 260px;
    border-left: #ddd solid 1px;
    background-color: #fff;
    box-shadow: 4px 0 4px 4px rgba(0,0,0,0.25);
    z-index: 3;
    transition: 0.33s;
}
.sidebar-layout.sidebar-close .sidebar {
    right: -264px;
}

.sidebar-layout .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 260px;
    z-index: 1;
    transition: 0.33s;
}
.sidebar-layout.sidebar-close .content {
    right: 0;
}
